$colorBg1:#fcd686;


.header-container{
  display: flex;
  width:100%;
  justify-content: space-between;
}

header{
  background-color: $colorBg1;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 85px;
}

footer{
  background-color: $colorBg1;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top: 1px solid $colorBg1;
  height: 175px;
}



.main-content-background{
  // background-image: url('https://images.alphacoders.com/107/1078503.jpg');
  // background-size: cover;
  // background-repeat: repeat;
}



.main-content{
  min-height: calc(100vh - 85px - 175px); //Sottrai  header e footer
  padding-top: 15px;
  padding-bottom: 15px;

  .welcome-img{
    max-width: 95%;
  }
}


.user-logged{
  border: 2px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.5);
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 50px;
  font-size: 14px;
  margin: 15px 0;
}


.pizza-record{
  background-color: white;
  img{
    border-radius: 15px;
    max-width: 150px;
    max-height: 150px;
  }
}

.actions{
  a{
    color:white;
  }
  a:visited{
    color:white;
  }
  button{
    margin-bottom:5px;
    margin-right: 5px;
  }
}


.pizza-show-img{
  box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
  border-radius: 50px;
  max-width: 600px;
  height: auto;
  margin: 30px 0px;
}
